body {

	}
header
{
  background-color: blue;
  margin-bottom: 100px;
}
h3
{
  text-align: center;
  color: white;
  margin: 50px 50px;
}
h2
{
  text-align: center;
  color: black;
  margin: 10px 10px;
}
.calculator
{
  margin: auto;
}
p
{
  text-align: center;
}
#start
{
  margin-botton: 10px;
}
.user_card
{
  width: 350px;
  margin-top: auto;
  margin-bottom: auto;
  background: blue;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.tanktype
{
  color:white;
  text-align:center;
}